.btn-filter{
    border-radius: 20.5px;
    width: 180px;
    height: 48px;
    padding: 1%;
    background: var(--grey);
    margin: 0.5%;
    border:none;
}

.btn-filter:hover{
    background: var(--lightblue);
    color: var(--white)
}

  @media (min-width: 900px) {
    .btn-filter{
        padding: 1% 3%;
    }
  }