.btn-point{
    border-radius: 20.5px;
    padding: 1% 5%;
    background: var(--grey);
}

.top-icono{
    top: -108%;
    left: 100px;
    position: relative;
}

.btn-neededPoints{
    padding: 2% 1%;
    opacity: 65%;
    background: var(--textDarkGrey);
    width: 150px;
    height: 42px;
}

.text-neededPoints{
    font-size: 13px;
    color: var(--white);
}

@media (min-width: 600px) {
    .btn-point{
        padding: 2% 7%;
    }
  }
  