.container-msj{
    position: relative;
    width: 200px;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 8px 8px 18px 0px rgba(50, 50, 50, 0.75);
}

.success{
    background-image: linear-gradient(325deg, #f2ffa0 0, #dfff9f 16.67%, #ccfd9e 33.33%, #b9f29d 50%, #a7e79b 66.67%, #98dc9a 83.33%, #8ad399 100%);
}

.error{

}

.image-ok-error{
    max-height: 90px;
}

.button-ok-error{
    border-radius: 10px;
    border: none;
    padding: 3% 20%;
}