.header{
    height: 170px;
}

.img-portal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal-text{
    color: var(--white);
    font-size: 40px;
    transform: translateY(-135%);
    z-index: 9999;
    margin-left: 10%;
}

  @media (min-width: 600px) {
    .header{
        height: 260px;
    }
  }

@media (min-width: 1000px) {
    .header{
        height: 365px;
    }
  }