.nav{
    padding: 1% 2%;
    justify-content: space-between;
}

.container-points{
    width: 260px;
    justify-content: space-between;
}

.container-user{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .container-user{
        width: 240px;
    }

    .container-points{
        width: 300px;
    }
}