.nav{
    padding: 1% 2%;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999;
}

.container-logo{
    display: flex;
    align-items: center;
}

.container-points{
    flex: 2;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .container-user{
        width: 240px;
    }
}

@media (min-width: 750px) {
    .container-logo{
        flex: 2;
    }
}

@media (min-width: 800px) {
    .container-points{
        flex: 1.5;
    }
}